<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body><h5>

#server.port = 8082
#spring.h2.console.enabled = true
#spring.datasource.url = jdbc:h2:mem:dcbapp
#
##spring.datasource.url = jdbc:h2:tcp://localhost/~/test
#spring.datasource.driverClassName= org.h2.Driver
#spring.datasource.username = root
#spring.datasource.password = root
#spring.dpa.database-platform = org.hibernate.dialect.H2Dialect

#spring.datasource.url=jdbc:mysql://127.0.0.1:3306/myhiber
##server.error.whitelabel.enabled=false
#spring.datasource.username=root
#spring.datasource.password=
#spring.jpa.show-sql = true
#spring.jpa.open-in-view=false
##spring.thymeleaf.cache=false
#spring.datasource.driver-class-name=com.mysql.cj.jdbc.Driver
</h5>

</body>
</html>